<h1>Edit car</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Model ID</th>
        <th>Mileage</th>
        <th>Pic URL (Optional)</th>
        <th>In working order</th>
        <th>License plate number</th>
        <th>Branch ID</th>
    </tr>
    <tr>
        <td>{{editCar.id}}</td>
        <td><input type="number" [(ngModel)]="editCar.modelId" /></td>
        <td><input type="number" [(ngModel)]="editCar.mileage" /></td>
        <td><input type="text" [(ngModel)]="editCar.pic" /></td>
        <td>
            <select [(ngModel)]="editCar.inWorkingOrder">
                <option value=true>Yes</option>
                <option value=false>No</option>
            </select>
        </td>
        <td><input type="text" [(ngModel)]="editCar.licensePlateNumber" /></td>
        <td><input type="number" [(ngModel)]="editCar.branch"></td>
    </tr>
</table>

<div id="bottomPane">
    <span class="link" (click)="save()">Save</span>
    <span class="link" (click)="back()">Cancel</span>
</div>